/** Pagina Tienda **/

.guitarras-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}

@media (min-width:480px) {
    .guitarras-grid{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width:768px) {
    .guitarras-grid{
        grid-template-columns: repeat(3,1fr);
    }
}
.guitarra img{
    /*width: 100%;
    height: 100%;
    margin-right: 30rem;*/
    max-height: 20rem;
    margin: 0 auto;
}

.guitarra{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: center;
    border-radius: .5rem;
    box-shadow: 0 1px 5px -1px #aeaeae;
    max-width: 60rem;
    margin:0 auto;
}

@media (min-width:488px) {
    .guitarra{
        grid-template-columns: 2fr 3fr;
    }
    .guitarra img{
        max-height: max-content;
    }
}


.guitarra .contenido{
    padding: 1rem;
}

.guitarra .contenido h3{
    text-transform: uppercase;
    color: var(--primary);
    font-size: 2.5rem;
}

.guitarra .descripcion{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.guitarra .precio{
    color: var(--primary);
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0;
}

.guitarra .enlace{
    display: block;
    text-decoration: none;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    padding: .5rem 1rem;
    border-radius: .5rem;
    transition: all .5s;
}

.guitarra .enlace:hover{
    background-color: var(--primary);
    color: var(--white);
}

/** Guitarras **/
.formulario{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.formulario label{
    text-transform: uppercase;
    font-weight: bold;
}

.formulario select{
    width: 100%;
    text-align: center;
    padding: .8rem 0;
}

.formulario input[type="submit"]{
    width: 100%;
    border: none;
    padding: 1rem;
    background-color: var(--black);
    color: var(--white);
    font-weight: 400;
    transition: all .5s ease;
    cursor: pointer;
}

.formulario input[type="submit"]:hover{
    background-color: var(--primary);
}